<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Movi.es
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	header.Movie
		navbar.Movie-navbar
			.Movie-navbar-brand
				figure.Movie-navbar-brand-logo
					img(src="img/popcorn.png", alt="popcorn")
				h1.Movie-navbar-brand-nombre Movie.es
			form.Movie-navbar-form
				input(type="search", name="" placeholder="Busca tu peli, actor, actriz o director favorito").Movie-navbar-form-input
			a(href="#").Movie-navbar-usuario
				span.Movie-navbar-usuario-nombre Bambi Rodríguez
				img(src="img/bambi.jpg", alt="bambi").Movie-navbar-usuario-imagen
	aside.Menu
		ul.Menu-list
			li.Menu-list-item
				a(href="#")
					i.fa.fa-home
					p Home
			li.Menu-list-item
				a(href="#")
					i.fa.fa-fire
					p Trending
			li.Menu-list-item
				a(href="#")
					i.fa.fa-heart
					p Más likes
		ul.Menu-list
			li.Menu-list-item
				a(href="#")
					i.fa.fa-cog
					p Ajustes
	section.Peliculas
		h2.Peliculas-title Ahora en el Cine
		.Peliculas-container
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
		h2.Peliculas-title Aclamadas por la critica
		.Peliculas-container
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
		h2.Peliculas-title No te debes perder
		.Peliculas-container
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.
			a(href="#").Peliculas-container-item
				img.Peliculas-container-item-img(src="img/pets.jpg", alt="pets")
				.Peliculas-container-item-overlay
					h3.Peliculas-container-item-overlay-title The Secret Life of Pets
					p.Peliculas-container-item-overlay-parrafo The quiet life of a terrier named Max is unpended when his owner takes in Duke, a stray whom Max instantly dislikes.